
.navParent {
    overflow: hidden;
    background-color: blue;
    font-weight: bold;
  }
  
  .navParent a {
    /* float: left; */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navParent a:hover {
    background-color: #fff;
    color: blue;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
 
  @media screen and (min-width : 1030px) {
     li {
    display: inline;
    }
    .navParent a {
        float: left;
    }
  }